/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.7em;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #707b84;
	background: #3e464d;
}
		
a:link, a:visited { color: #0066CC; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #008400; text-decoration: underline; }

p { margin: 0px; padding: 0px; }

img { border-style: none;
    border-color: inherit;
    border-width: medium;
    margin: 4px 0px 0px 0px;
    padding: 0px;
    height: 102px;
    width: 882px;
}

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.divider {
	background: url(images/divider.jpg) repeat-x bottom;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.button_01 a {
	display: block;
	width: 70px;
	height: 22px;
	padding: 5px 2px 0 30px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background: url(images/templatemo_button_01.png) no-repeat;
}

.button_01 a:hover {
	color: #ffffff;
	background: url(images/templatemo_button_01_hover.png) no-repeat;
}

h2
{
    margin: 0 0 5px 0;
    padding: 10px 0;
    font-size: 24px;
    font-weight: normal;
    color: #800000;
    background-color:White;
}

h3 {
	margin: 0	;
	padding: 2px 0;
	font-size: 13px;
	font-weight: bold;
	color: #3e464d;
}

#templatemo_wrapper 
{
    background-color:White;
	width: 100%;
	margin: 0 auto;
	height:150px;
	background-repeat:repeat-x;
	/*background:url(E:\Website\sample\gtu_pde\gtu_pde\gtu_acpc\images\logo.png)no-repeat;*/
}

/* header */



/* header */

#templatemo_header_wrapper {
	background-color:White;
	width: 100%;
	height: 80px;
	margin: 0 auto;
	background-image:url(E:\Website\sample\gtu_pde\gtu_pde\gtu_acpc\images\templatemo_header.jpg)no-repeat;
}

#templatemo_header p {
	clear: both;
	padding-left: 50px;
	width: 500px;
	font-size: 18px;
	font-style: italic;
	line-height: 26px;
}

#templatemo_header #site_title {
	float: left;
	padding-top: 10px;
	margin-left: 50px;
	margin-bottom: 10px;	
	width: 280px;
	height: 100px;
	text-align: center;	
	overflow: hidden;	
}

#site_title h1 {
	margin: 0px;
	padding: 15px 0 0 0;	
}

#site_title h1 a {
	font-size: 30px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: bold;	
	text-decoration: none;
}

#site_title h1 a span {
	display: block;
	margin-top: 10px;
	margin-left: 5px;
	font-size: 14px;
	color: #999;
	font-weight: normal;
	letter-spacing: 2px;
}

/* end of header */

/* menu */
#menu_button
{
    color:Orange;
}
#menu_button:hover
{
    color:Green;
    background-color:Aqua;
}
#templatemo_menu_wrapper {
	width: 100%;
	height: 101px;
	background: url(images/templatemo_menu.jpg) repeat-x;
    
    margin-bottom:0px;
}

#templatemo_menu {
	width: 920px;
	height: 90px;
	
	padding: 0 30px;
	
}

#templatemo_menu {
	width: 626px;
	height: 90px;
	margin: 0 auto;
	padding: 0 30px;
	
}

#templatemo_menu ul {
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
    height: 91px;
    width: 676px;
}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a
{
    position: relative;
    float: left;
    width: 106px;
    display: block;
    height: 53px;
    padding: 50px 0 0 0;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #800000;
    font-weight: bold;
    outline: none;
    top: -8px;
    left: 1px;
    right: -1px;
}

.current
{
    color: #800000;
    background: url(images/templatemo_menu_hover.jpg) bottom no-repeat;
}



#templatemo_content_wrapper {
	width:1019px;
	padding: 30px;
	margin: 24px 6px 0 358px;
	float:left;
    height: 1928px;
}



.sidebar_box 
{
    float:left;
    width:200px;
	padding: 20px 30px;
	background: #fff;
}

.sidebar_box_bottom {
	width: 270px;
	height: 15px;
	margin-bottom: 30px;
	background: url(images/templatemo_sidebar_section_bottom.jpg)
}

.sidebar_box_bottom {
	width: 270px;
	height: 15px;
	margin-bottom: 30px;
	background: url(images/templatemo_sidebar_section_bottom.jpg)
}

.news_box 
{
    
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #8a9ba8;	
	color: #ffffff;
}

.news_box .post_info {
	font-size: 11px;
	color: #666666;
}

.news_box .post_info a {
	color: #157ad2;
	font-weight: normal;
}

.news_box a{
	color: #000000;
	font-weight: normal;
}

.news_box span {
	color: #157ad2;
}

.sidebar_box label {
	display: block;
	margin-bottom: 10px;
}

.sidebar_box #input_field {
	height: 20px;
	width: 200px;
	padding: 0 5px;
	margin-bottom: 10px;
	color: #000000;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
}

.sidebar_box #submit_btn {
	float: right;
 	height: 30px;
	width: 80px;
	margin: 0px;
	padding: 3px 0 15px 0;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	outline: none;
}
#content-left
{
  margin-top:50px;	 
 float:left;
margin-left:20px;
width:275px;

height:580px;
/*border-right:#CCCCCC 2px solid;*/
}
#content-right {
margin-top:50px;	



margin-left: 327px;
}

#templatemo_content {
	float:left;
	margin-left:80px;
	width: 275px;
    height: 19px;
    margin-top:-2030px;
}

.content_box 
{
    float:left;
	clear: both;
    width: 675px;
	height:200px;
	padding: 20px 30px;
	background: #fff;
    margin-left: 120px;
}

.content_box_bottom {
	width: 590px;
	height: 36px;
	margin-bottom: 20px;
	background: url(images/templatemo_content_bottom.jpg) no-repeat;
}

.content_box .image_fl {
	float: left;
	margin: 3px 15px 0 0;
}

.content_box .section_w250 {
	width: 250px;
}

.list_01 {
	margin: 0 0 0 20px;
	padding: 0;
	list-style: decimal-leading-zero;
}

.list_01 li {
	color: #008400;
	margin-bottom: 7px;
}

/* end of content */

/* footer */
#templatemo_footer_wrapper
{
margin-top:auto;
	background: #fff url(images/templatemo_footer_top.jpg) top repeat-x;	
}

#templatemo_footer 
{
    float:left;
	width: 920px;
	margin: 0 auto;
	padding: 30px;
	text-align: center;
	color: #7c7471;
	margin-top:auto;
}

#templatemo_footer a {
	color: #333333;
}

#image1
{
    height:550px;
    width:150px;
}


#templatemo_footer a {
	color: #333333;
}

#templatemo_footer .footer_menu {
	margin: 0 0 10px 0;
	padding: 0px;
	list-style: none;
}

.footer_menu li {
	margin: 0px;
	padding: 0 20px;
	display: inline;
	border-right: 1px solid #333333;
}

.footer_menu .last_menu {
	border: none;
}

/* end of footer */
#content .inner_copy {border:0;color:#f00;float:left;width:50%!important;margin:-202px 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:12px}